@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome to the Invoice Assignment application.</p>
    <a asp-action="Index" asp-controller="Invoice">Click here</a> to enter the application.
</div>
